{% extends "components/layout_pages.html" %} 

{% block title %}Autor{% endblock %} 
{% block content %}
  <div class="row m-md-5 m-3">
    <h1 class="col">Registrar un Autor</h1>
  </div>

  <form method="post" action="/insert-author" class="row g-3 mx-sm-5 mx-2">
    <div class="col-md-4">
      <label for="validationDefault01" class="form-label">Nombre</label>
      <input name="nombre" type="text" class="form-control" id="validationDefault01" required />
    </div>
    <div class="col-md-4">
      <label for="validationDefault02" class="form-label">Apellido</label>
      <input name="apellido" type="text" class="form-control" id="validationDefault02" required />
    </div>
    <!-- <div class="col-md-4">
      <label for="validationDefaultUsername" class="form-label">Username</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">@</span>
        <input
          name="username"
          type="text"
          class="form-control"
          id="validationDefaultUsername"
          aria-describedby="inputGroupPrepend2"
          required
        />
      </div>
    </div> -->
    <div class="col-md-3">
      <label for="validationDefault04" class="form-label">Nacionalidad</label>
      <select name="nacionalidad" class="form-select" id="validationDefault04" required>
        <option selected disabled value="">País</option>
        <option value="ar">Argentina</option>
        <option value="au">Australia</option>
        <option value="at">Austria</option>
        <option value="be">Belgium</option>
        <option value="br">Brazil</option>
        <option value="ca">Canada</option>
        <option value="cn">China</option>
        <option value="co">Colombia</option>
        <option value="dk">Denmark</option>
        <option value="eg">Egypt</option>
        <option value="fi">Finland</option>
        <option value="fr">France</option>
        <option value="de">Germany</option>
        <option value="gr">Greece</option>
        <option value="hk">Hong Kong</option>
        <option value="in">India</option>
        <option value="id">Indonesia</option>
        <option value="ie">Ireland</option>
        <option value="it">Italy</option>
        <option value="jp">Japan</option>
        <option value="kr">South Korea</option>
        <option value="my">Malaysia</option>
        <option value="mx">Mexico</option>
        <option value="nl">Netherlands</option>
        <option value="nz">New Zealand</option>
        <option value="no">Norway</option>
        <option value="ph">Philippines</option>
        <option value="pt">Portugal</option>
        <option value="ru">Russia</option>
        <option value="sa">Saudi Arabia</option>
        <option value="sg">Singapore</option>
        <option value="za">South Africa</option>
        <option value="es">Spain</option>
        <option value="se">Sweden</option>
        <option value="ch">Switzerland</option>
        <option value="tw">Taiwan</option>
        <option value="th">Thailand</option>
        <option value="tr">Turkey</option>
        <option value="ae">United Arab Emirates</option>
        <option value="gb">United Kingdom</option>
        <option value="us">United States</option>
        <option value="ve">Venezuela</option>
        <option value="vn">Vietnam</option>
    </select>
    
    </div>
    <!-- <div class="col-md-3">
      <label for="validationDefault05" class="form-label">Password</label>
      <input
        name="password_user"
        type="password"
        class="form-control"
        id="validationDefault05"
        required
      />
    </div> -->
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Send Data</button>
    </div>
  </form>
{% endblock %}