{% extends "components/layout.html" %} {% block title %}Devoluciones{% endblock
%} {% block content %}
<script>
  let prestamosData = []; // Variable para almacenar los datos

  document.addEventListener("DOMContentLoaded", function () {
    const clienteSelect = document.getElementById("clienteSelect");
    const libroSelect = document.getElementById("libroSelect");
    const fechaDevolucionInput = document.getElementById("fecha_devolucion");

    fetch("/get-press-not-devolved")
      .then((response) => response.json())
      .then((data) => {
        prestamosData = data; // Almacenar los datos en la variable
        data.forEach((prestamo) => {
          const optionCliente = document.createElement("option");
          optionCliente.value = `${prestamo["Nombre"]} ${prestamo["Apellido"]}`;
          optionCliente.text = `${prestamo["Nombre"]} ${prestamo["Apellido"]}`;
          clienteSelect.appendChild(optionCliente);
        });
      })
      .catch((error) => console.error("Error:", error));

    clienteSelect.addEventListener("change", function () {
      const selectedCliente = clienteSelect.value;
      if (selectedCliente) {
        const librosCliente = prestamosData.filter((prestamo) => {
          return (
            `${prestamo["Nombre"]} ${prestamo["Apellido"]}` === selectedCliente
          );
        });
        libroSelect.innerHTML =
          '<option value="" selected disabled>Seleccione un libro</option>';
        librosCliente.forEach((prestamo) => {
          const optionLibro = document.createElement("option");
          optionLibro.value = prestamo["Libro"];
          optionLibro.text = prestamo["Libro"];
          libroSelect.appendChild(optionLibro);
        });
      }
    });

    // Agregar evento para seleccionar la fecha actual
    //fechaPrestamoInput.valueAsDate = new Date();
    document.addEventListener("DOMContentLoaded", function () {
      const fechaDevolucionInput = document.getElementById("fecha_devolucion");

      if (fechaDevolucionInput) {
        var today = new Date().toISOString().split("T")[0];
        fechaDevolucionInput.value = today;
      }
    });
  });
  document.addEventListener("DOMContentLoaded", function () {
    const tablaPrestamos = document.getElementById("tablaPrestamos");

    fetch("/get-press-table-devolved")
      .then((response) => response.json())
      .then((data) => {
        construirTablaPrestamos(data); // Llama a la función para construir la tabla con los datos obtenidos
      })
      .catch((error) => console.error("Error:", error));
  });

  function construirTablaPrestamos(data) {
    if (data.length > 0) {
      const table = document.createElement("table");
      table.classList.add("table");

      // Crear la cabecera de la tabla
      const header = table.createTHead();
      const row = header.insertRow();
      const headers = [
        "Cliente",
        "Libro",
        "Fecha de Préstamo",
        "Fecha de Devolución",
      ];

      headers.forEach((headerText) => {
        const th = document.createElement("th");
        const text = document.createTextNode(headerText);
        th.appendChild(text);
        row.appendChild(th);
      });

      // Agregar filas con datos de préstamos
      const body = table.createTBody();
      data.forEach((prestamo) => {
        const row = body.insertRow();
        const values = [
          prestamo["Cliente"],
          prestamo["Libro"],
          prestamo["Fecha de Préstamo"],
          prestamo["Fecha de Devolución"],
        ];
        values.forEach((value) => {
          const cell = row.insertCell();
          const text = document.createTextNode(value);
          cell.appendChild(text);
        });
      });

      tablaPrestamos.appendChild(table);
    } else {
      tablaPrestamos.innerHTML = "<p>No hay devoluciones realizadas.</p>";
    }
  }
</script>

<div class="row m-md-5 m-3">
  <h1 class="col">Registrar una Devolución</h1>
</div>

<form method="put" action="/return" class="row g-3 mx-sm-5 mx-2">
  <div class="col-md-4">
    <label for="libroSelect" class="form-label">Libro</label>
    <select id="libroSelect" name="libro" class="form-select" required>
      <option value="" selected disabled>Seleccione un libro</option>
      <!-- Opciones de libros se cargarán dinámicamente aquí -->
    </select>
  </div>
  <div class="col-md-4">
    <label for="clienteSelect" class="form-label">Cliente</label>
    <select id="clienteSelect" name="cliente" class="form-select" required>
      <option value="" selected disabled>Seleccione un cliente</option>
      <!-- Opciones de clientes se cargarán dinámicamente aquí -->
    </select>
  </div>
  <div class="col-md-3">
    <label for="Fecha devolucion" class="form-label">Fecha Devolucion</label>
    <input
      type="text"
      id="fecha_devolucion"
      name="fecha_devolucion"
      class="form-control"
      readonly
    />
    <script>
      var today = new Date().toISOString().split("T")[0];
      document.getElementById("fecha_devolucion").value = today;
    </script>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Enviar</button>
  </div>
</form>

<!-- Otro contenido HTML si es necesario -->
<div id="tablaPrestamos" class="row mx-sm-5 mx-2">
  <!-- Aquí se mostrará la tabla con los préstamos -->
</div>

{% endblock %}
